.art {
  background-color: $VeryDarkDesaturatedBlue;
  padding: 9.2rem 2.2rem;
  text-align: center;
  border-bottom-left-radius: 5.9375rem;
  border-top-right-radius: 6.8125rem;

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/images/illustration-phones.svg);
    background-size: 342px 265px;
    background-repeat: no-repeat;
    background-position: -0.8rem 0rem;
    min-height: 17.2rem;
  }

  > h2 {
    font-weight: 600;
  }

  > p {
    font-size: 0.8125rem;
    font-weight: 300;
  }
}
