.header {
  position: relative;
  background: linear-gradient(to top, $LightRed 10%, $VeryLightRed);
  border-bottom-left-radius: 4.125rem 4.125rem;
  min-height: 56vh;

  @include breakpoints-up(medium) {
    background: linear-gradient(to left, $LightRed, $VeryLightRed);
    min-height: 60vh;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/images/bg-pattern-intro.svg");
    background-size: 92.2rem 83.2rem;
    background-repeat: no-repeat;
    background-position: -23.8rem -17.8rem;

    border-bottom-left-radius: 4.125rem 4.125rem;

    @include breakpoints-up(large) {
      background-size: 159.2rem 139.2rem;
      background-position: -17.8rem -58.8rem;
      border: none;
    }
  }
  nav {
    position: relative;
    padding-top: 2.0625rem;
    padding-right: 2.625rem;
    padding-bottom: 0.0625rem;
    padding-left: 1.625rem;
    z-index: 1;

    @include breakpoints-down(medium) {
      justify-content: space-between;
    }

    @include breakpoints-up(large) {
      padding-top: 2.0625rem;
      padding-right: 2.625rem;
      padding-bottom: 0.0625rem;
      padding-left: 4.625rem;
    }
  }

  &__logo {
    margin-top: 0.2rem;
  }

  @include breakpoints-down(medium) {
    &.open {
      .header__toggle {
        > span:first-child {
          transform: rotate(45deg);
          margin-bottom: 0;
        }

        > span:nth-child(2) {
          opacity: 0;
          display: none;
        }

        > span:last-child {
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__toggle {
    //Mobile Menu toggle
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $White;
      transition: all 300ms ease-in-out;
      // transform-origin: 3px 1px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__links {
    padding-left: 4.2rem;
    font-size: 0.925rem;

    a {
      position: relative;
      color: $White;
      transition: color 200ms ease-in-out;

      .rotate {
        transform: rotate(180deg);
      }

      &:not(:last-child) {
        margin-right: 32px;
      }

      &::before {
        content: "";
        position: absolute;
        display: block;
        height: 5px;
        left: 0;
        right: 0;
        bottom: -16px;
        background: $White;
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }

      &:hover {
        color: $White;

        &::before {
          opacity: 1;
        }
      }
    }

    .submenu1 {
      @include dropdown(-2px);
    }

    .submenu2 {
      @include dropdown(-3px);
    }

    .submenu3 {
      @include dropdown(-2px);
    }
  }

  &__cta {
    margin-right: 2.2rem;

    .login {
      font-size: 0.925rem;
      margin-right: 2.2rem;
    }
  }

  @include breakpoints-down(medium) {
    &__menu {
      z-index: 5;
      display: none;
      position: absolute;
      width: calc(100% - 3rem);
      left: 50%;
      transform: translateX(-50%);
      background: $veryLightGray;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding: 1.625rem 1.625rem;
      margin-top: 1.5rem;
      border-radius: 5px;

      &.show {
        display: block;
      }

      a {
        // border: 1px magenta solid;
        display: block;
        font-weight: 600;
        font-size: 0.99rem;
        text-align: center;
        color: $VeryDarkBlue;
        padding: 0.925rem;

        transition: all 150ms ease-in-out;

        &:hover {
          color: rgba(102, 102, 102, 0.75);
        }

        .rotate {
          transform: rotate(180deg);
        }

        .open1 {
          @include open();
        }

        .open2 {
          @include open();
        }

        .open3 {
          @include open();
        }
      }

      .line {
        margin: 0.825rem;
        border: 1px rgb(197, 197, 197) solid;
      }

      .cta {
        .button {
          background: linear-gradient(to left, $LightRed, $VeryLightRed);
          color: $White;
          padding-top: 0.9rem;
          padding-bottom: 0.9rem;
          margin-left: 4.2rem;
          margin-right: 4.2rem;
        }
      }
    }
  }

  &__part {
    text-align: center;
    margin-top: 5.2rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    position: relative;
  }

  h1 {
    color: $White;
    font-size: 2.5rem;
    font-weight: 300;
    margin: -0.33em 0;

    @include breakpoints-up(large) {
      font-size: 2.9375rem;
    }
  }

  p {
    font-size: 1.25rem;
    font-size: 300;
  }

  .btn {
    // &__start {
    // }

    &__learn {
      margin-left: 0.825rem;
      border: 1px $White solid;
      color: $White;

      padding: 0.875rem 2.1875rem;

      border-radius: 50px;

      cursor: pointer;
      font-weight: 600;
      font-size: $font-sm;
      transition: opacity 300ms ease-in-out;
    }
  }
}
